@model IEnumerable<SportData.Models.Employe>

@{
    ViewData["Title"] = "Index";
}

<h1>Inscriptions d'employés en attente</h1>

<p></p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdresseCourriel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organisation)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prenom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdresseCourriel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Organisation.Nom)
                </td>
                <td>
                    <form action="/Administrateur/ValiderEmploye" method="post">
                        <input type="hidden" name="idemploye" value="@item.Id" />
                        <button type="submit" class="btn btn-outline-success">Valider</button>
                    </form>
                </td>
                <td>
                    <form action="/Administrateur/RefuserEmploye" method="post">
                        <input type="hidden" name="idemploye" value="@item.Id" />
                        <button type="submit" class="btn btn-outline-danger">Refuser</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
